.Header {
  display: flex;
  flex-direction: column;
  background-color: lightskyblue;
  color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  border: solid 1px yellow;


  h1 {
    font-size: 2em;
    margin: 0.67em 0;
    color: yellow;
  }
}